<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>云收藏</title>
</head>
<body>


    <div class="container" v-if="showform">
        <h3>云收藏</h3>
        <form id="form">
            <label for="basic-url">今日头条</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">正文  </span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="https://www.toutiao.com/a6626881877179367940/" data-property="Url" data-group="1">
                <input type="hidden" data-property="ValueA01" value="gzip, deflate, br" data-group="1"/>
                <button type="button" class="btn btn-primary ml-1" data-submit="1" v-on:click="SaveChanges">{{btn1Text}}</button>
            </div>

            
        </form>
        </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">正文名</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">详细</th>
                </tr>
            </thead>
            <tbody id="List">
                <tr v-for="(item, index) in List">
                    <th scope="row">{{index}}</th>
                    <td>{{item.Title}}</td>
                    <td>{{item.CreateTime}}</td>
                    <td><button type="button" class="btn btn-link">详细</button></td>
                </tr>

            </tbody>
        </table>
    </div>

        <div class="container" id="List2">
            <div class="row" v-for="(item, index) in List" >
                <div class="col">{{index}}</div>
                <div class="col">{{item.Title}}</div>
                <div class="col">{{item.CreateTime}}</div>
                <div class="col">col</div>
            </div>

        </div>
        <script src="../Scripts/jquery-3.3.1.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="YunFav.js"></script> 
</body>
</html>