<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

    <title>汪俊云YunAppTemplate</title>
    <style type="text/css">
        .h_3rem {
            height: 3rem;
        }

        .h_2rem {
            height: 2rem;
            line-height: 2rem;
        }

        .fs_085rem {
            font-size: 0.85rem;
        }

        .rect01 {
            position: absolute;
            top: 3rem;
            bottom: 2rem;
            left: 0;
            right: 0;
        }

        .w_20rem {
            width: 20rem;
        }

        .w_70 {
            width: 70%;
        }
    </style>

</head>
<body>

    <div class="container-fluid shadow-sm sticky-top px-0" id="top">
        <nav class="navbar navbar-expand-lg navbar-light  mx-0">
            <a class="navbar-brand" href="javascript:;">{{app.Name}}</a>
            <div class="collapse navbar-collapse  " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0  ">
                    <li class="nav-item" v-for="(item,index) in Menu1">
                        <a class="nav-link" href="javascript:;">{{item.Name}} </a>
                    </li>
                </ul>

                <button type="button" class="btn  bg-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    我的
                </button>
                <div class="dropdown-menu dropdown-menu-right" v-for="(item,index) in Menu2">
                    <button class="dropdown-item" type="button">{{item.Name}}</button>
                </div>

            </div>
        </nav>
    </div>
    <div class="container-fluid rect01  d-flex p-0 ">
        <div class="w_20rem h-100 border-right mt-3 ">
            <div class="list-group" id="left">
                <button type="button" class="list-group-item list-group-item-action rounded-0 border-right-0" v-for="(item,index) in Menu1">  {{item.Name}} </button>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column  m-0 p-0 mt-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 h_3rem " id="nav">
                <a class="navbar-brand" href="javascript:;">{{func.Name}}</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" v-for="(item,index) in Menu1">
                            <a class="nav-link" href="javascript:;">{{item.Name}} </a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="请搜索..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </div>
            </nav>


            <div class="container-fluid table-responsive h-100" id="page">

                <div class="w_70 mx-auto">
                    <form class="w-100 my-5 px-5 shadow-lg">
                        <h2>&nbsp;</h2>
                        <div class="alert alert-warning alert-dismissible fade show sticky-top  " role="alert">
                            <strong>{{page.alert.text}}</strong> You should check in on some of those fields below.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <h1 class="text-center my-5">
                            <input class="form-control form-control-lg" type="text" placeholder="" v-model="title">
                        </h1>

                        <link href="../JS/umeditor1_2_2-utf8-net/themes/default/css/umeditor.css" rel="stylesheet" />
                        <script src="../JS/umeditor1_2_2-utf8-net/third-party/jquery.min.js"></script>
                        <script src="../JS/umeditor1_2_2-utf8-net/umeditor.config.js"></script>
                        <script src="../JS/umeditor1_2_2-utf8-net/umeditor.js"></script>
                        <script src="../JS/umeditor1_2_2-utf8-net/lang/zh-cn/zh-cn.js"></script>
                        <!--style给定宽度可以影响编辑器的最终宽度-->
                        <script type="text/plain" id="myEditor" class="w-100">
                        </script>
                        <div class=" form-inline form-group  row  mt-5">
                            <label class="mr-3 w_5rem">保存至</label><input type="text" class="form-control plaintext" placeholder="父节点名称" value="" v-model="ParentNode.Name" />
                        </div>
                        <div class="form-row ml_5rem">
                            <ul class="ztree" id="tree1"></ul>
                        </div>
                        <div class="form-row d-flex justify-content-center">
                            <button class="btn btn-primary mt-3 mx-2" type="button" @click="SaveDocument">保存至草稿箱</button>
                            <button class="btn btn-primary mt-3 mx-2" type="button" @click="SaveDocument">发布</button>
                            <button class="btn btn-primary mt-3 mx-2" type="button">取消</button>
                        </div>
                        <h2>&nbsp;</h2>
                    </form>


                </div>

                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">序号</th>
                            <th scope="col">标题</th>
                            <th scope="col">时间</th>
                            <th scope="col">作者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in FormList">
                            <th scope="row">1</th>
                            <td>{{item.Title}}</td>
                            <td>{{item.CreateTime}}</td>
                            <td>数据1</td>
                        </tr> 
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class="">
                    <ul class="pagination justify-content-end my-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">首页</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前一页</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">后一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">最后</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="container-fluid h_2rem fixed-bottom text-center align-middle fs_085rem bg-light">
        汪俊云应用@2019
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link href="../../Content/zTree.theme.metro.min.css" rel="stylesheet" />
    <link href="../../Content/zTree.min.css" rel="stylesheet" />
    <script src="../../Scripts/jquery.ztree.all-3.5.min.js"></script>

    <script src="../../Scripts/PARAMCHCKER.js"></script>


    <script src="../JS/YunService/YunDocumentService.YunPageService.js"></script>
    <link href="../Css/YunAppTemplate.css" rel="stylesheet" />
    <script src="../JS/YunService/YunDocumentService.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        var um = UM.getEditor('myEditor');
        vue.LoadCategotyList();
        vue.LoadFormList();

    </script>
</body>
</html>